<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="card col-8 offset-2 mt-3 listing-card">
            <h3 class="show-title"> <b> <%= listing.title %> </b> </h3>
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
            <div class="card-body">
              <p class="card-text mt-2">
                <i>OwnedBy:<b class="bold"> <%= listing.owner.username %></b></i><br>
                <%= listing.description %> <br>
                &#8377;<%= listing.price.toLocaleString("en-IN") %> <br>
                <%= listing.location %> <br>
                <%= listing.country %>
            </p>
            </div>
        </div>  

        <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
            <div class="show-btn col-5 offset-2">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark add-btn"> Edit </a> 
    
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button class="btn btn-dark offset-2">Delete</button>
                </form>
            </div>     
       <% } %>
</div>

    <div class="col-9 offset-2">
        <form class="mb-3 needs-validation" action="/listings/<%= listing._id %>/reviews" method="post" novalidate >
            <% if (currUser) { %>
                <h3> Leave a Review </h3>
                <div class="mb-3">
                </div>
            <label for="rating" class="form-label"><h4>Rating</h4></label>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                <div class="mb-3">
                   <label for="comment" class="form-label">Comment</label>
                   <textarea name="review[comment]" id="comment" class="form-control" cols="60" rows="5" required ></textarea>
                   <div class="invalid-feedback">please add a Comment to review</div>
                </div>
   
                <button class="btn btn-outline-dark mt-2">Submit</button>
          <% } %>
        </form>

        <hr>
            <p><b>All Reviews</b></p>
            <div class="row ">
            <% for ( review of listing.reviews) { %>
               <div class="card col-5 ms-2 mb-2 ">
                <div class="card-body">
                    <h5 class="card-title mt-1">@<%= review.author.username %></h5>
                    <p class="starability-result card-text " data-rating="<%= review.rating %>">
                    </p>
                    <p class="card-text"><%= review.comment %></p>

                    <% if (currUser && review.author._id.equals(currUser._id)) { %>
                    <form class="mb-3" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-dark btn-sm">Delete</button>
                    </form>
                    <% } %>
                </div>
               </div>
                <% } %>
            </div>
        </div>

</body>